@import url(/assets/css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
}

/* --------------Nav-bar------------ */
.nav-btn {
    min-width: 118px;
    min-height: 46px;
    border-radius: 23px;
    border: none;
}

.ml-56 {
    margin-left: 56px;
}

.navbar-toggler {
    border: none !important;
}

.nav-section {
    box-shadow: 0px 8px 35px 0px #0000000D;
}

/* ======================Hero-section============================== */
.hero-img-1 {
    margin-top: 67px;
    border-radius: 30px !important;
}

.hero-img{
    border-radius: 30px;
}

.home-username {
    margin-top: 71px;
}

.quote-svg {
    margin-top: 166px;
}

.hero-img-2 {
    margin-top: 134px;
}

.feed-btn {
    border-radius: 23px;
    padding: 11px 28px;
    min-width: 254px;
    background: #2C49FE1A;
    border: none;
    transition: all 300ms linear;
}

.feed-btn:hover {
    background: #2C49FE;
}

.feed-btn:hover a {
    color: #FFFFFF !important;
}

.play-btn-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* ====================Gallery-section============================= */
.gallery-svg {
    margin-top: 55px;
}

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 24px;
    margin-top: 77px;
}

.gi-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 30px;
}

.gi-2 {
    grid-row: 1/2;
    grid-column: 2/3;
    border-radius: 30px;
}

.gi-3 {
    grid-row: 1/3;
    grid-column: 3/4;
    border-radius: 30px;
}

.gi-4 {
    grid-row: 2/3;
    grid-column: 1/3;
    border-radius: 30px;
}

.gi-5 {
    grid-row: 3/4;
    grid-column: 1/2;
    border-radius: 30px;
}

.gi-6 {
    grid-row: 3/4;
    grid-column: 2/4;
    border-radius: 30px;
}

/* ======================================Tell-us! Section========================================= */

.tell-us-svg {
    margin-top: 67px;
}

.tell-us-para {
    max-width: 719px;
}

.input {
    outline: none;
    border: none;
    width: 100%;
}

.input-box {
    width: 100%;
    border: 1px solid #9CA1BE;
    border-radius: 35px;
    padding: 7px 7px;
}

.img-input {
    width: 100%;
}

.input-btn {
    border: none;
    min-height: 56px;
    min-width: 208px;
    border-radius: 36px;
}

.input {
    margin-left: 21px;
}

.comment {
    padding: 14px 15px 20px 20px;
    border-radius: 0px 20px 20px 20px;
}

/* ==============================Footer-section============================== */
.mt-118 {
    margin-top: 118px;
}

.main-logo-footer {
    margin-top: 81px;
}

.footer-para {
    max-width: 346px;
    line-height: 21px;
    margin-top: 36px;
    margin-bottom: 24px;
}

.show-more-box {
    background: #2D3CAE87;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-more {
    max-width: 43px;

}

.footer-link-title {
    margin-top: 126px;
}

.copyright {
    margin-top: 96px;
    padding-bottom: 25px;
}

.mt-13 {
    margin-top: 13px;
}

/* ============================================Responsive================================================== */
@media (max-width:1200px) {
    .feed-buttons {
        flex-wrap: wrap;
    }
}

@media (max-width:992px) {
    .quote-svg {
        margin-top: 100px;
    }

    .hero-img-2 {
        margin-top: 80px;
    }

    .gi-3 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .gi-5 {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .gi-6 {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-para {
        text-align: center;
    }

    .footer-list {
        align-items: center;
    }
}

@media (max-width:768px) {
    .main-heading-with-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-username {
        text-align: center;
    }

    .hero-para-1 {
        text-align: center;
    }

    .feed-buttons {
        display: flex;
        flex-direction: column;
    }

    .input-btn {
        margin: auto;
    }
}

@media (max-width:576px) {
    .input-box {
        flex-wrap: wrap;
        overflow: hidden;
    }

    .input {
        margin-left: 5px;
    }

    .nav-logo{
        font-size: 30px;
    }
}